<div class="flex" id="popupForm">
  <div class="border">
    <div class="text-container">

      <h3 class="horo cntr"> Trage deine Daten ein </h3>
      <form action="#" id="frm" novalidate>
        <div class="w3-animate-top">
          <div class="grid-item">
            <label for="Name" class="horo"> Name: </label>
            <input class="horo-inpfield" type="text" name="Name" id="nam" value="<%= userData ? userData.name : '' %>" placeholder="Anzeigename" pattern="^[a-zA-ZÄäÖöÜüß\s\d]+$" required oninvalid="this.setCustomValidity('Trage einen gültigen Anzeigenamen ein.')" />
            <div class="dotted-line"></div>
          </div>

          <div class="grid-item">
            <label for="Datum" class="horo"> Geburtstag: </label>
            <span class="horo sublabel"> DATUM </span>
            <input type="text" name="Datum" id="dat" value="<%= userData ? userData.date : '' %>" class="horo-inpfield" placeholder="Geburtsdatum" autocomplete="off" pattern="^(0[1-9]|[12][0-9]|3[01])\.(0[1-9]|1[0-2])\.\d{4}\s?$" required oninvalid="this.setCustomValidity('Datum muss im Format dd.mm.yyyy sein.')" />
            <div class="dotted-line"></div>

            <span class="horo sublabel marTop"> UHRZEIT </span>
            <div class="flex-time">
              <div class="input-time">
                <input type="text" name="Stunde" id="hour" value="<%= userData ? userData.hour : '' %>" class="horo-inpfield time" placeholder="00" autocomplete="off" pattern="^(2[0-4]|1[0-9]|0[0-9])$" required oninvalid="this.setCustomValidity('Stunde muss im 24h-Format sein.')" />
                <div class="dotted-line"></div>
              </div>
              <span> &nbsp; : &nbsp; </span>
              <div class="input-time">
                <input type="text" name="Minute" id="minu" value="<%= userData ? userData.minu : '' %>" class="horo-inpfield" placeholder="00" autocomplete="off" pattern="^([0-5]?[0-9]|60)$" required oninvalid="this.setCustomValidity('Minute muss zwischen 0 und 60 liegen.')" />
                <div class="dotted-line"></div>
              </div>
              <div class="horo">
                <span class="horo sublabel bold" id="checkbox" for="Check">
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  ZEIT UNBEKANNT?
                </span>
                <span class="horo sublabel bold"> &nbsp; JA: </span>
                <input type="checkbox" name="Check" id="che" class="horo-inpfield">
              </div>
            </div>
          </div>

          <div class="grid-item">
            <span class="horo"> Geburtsort: </span>
            <div id="search_loc" class="autocomplete-container"></div>
            <div class="dotted-line"></div>

            <span class="horo sublabel marTop"> KOORDINATEN </span>
            <div class="coords-container">
              <div class="horo">
                <input type="text" name="Lati" class="horo-inpfield coord-input" id="lat" value="<%=userData ? userData.lati : '' %>" placeholder="Breiten" autocomplete="off" pattern="^\s?-?(90|[0-8]?\d(\.\d\d?)?)$" required oninvalid="this.setCustomValidity('Breitengrad muss zwischen -90° und 90° liegen.')" />
                <div class="dotted-line coord-line"></div>
              </div>
              <label for="Lati" class="horo" style="margin-top: 5px;"> ° Nord </label>
              <div>
                &nbsp; &nbsp; &nbsp; &nbsp;
              </div>
              <div class="horo">
                <input type="text" name="Long" id="lon" value="<%= userData ? userData.longi : '' %>" class="horo-inpfield coord-input" placeholder="Längen" autocomplete="off" pattern="^\s?-?(180(\.00?)?|(1[0-7]\d|0?\d?\d)(\.\d\d?)?)$" required oninvalid="this.setCustomValidity('Längengrad muss zwischen -180° und 180° liegen.')" />
                <div class="dotted-line coord-line"></div>
              </div>
              <label for="Long" class="horo" style="margin-top: 5px;"> ° Ost </label>
            </div>
          </div>

          <hr class="horo">

          <div class="grid-item">
            <label for="House" class="horo inline"> Häusersystem: </label>
            <select name="House" id="House">
              <option value="placidus"> Placidus </option>
              <option value="koch"> Koch </option>
              <option value="campanus"> Campanus </option>
              <option value="whole-sign"> Tierkreiszeichen </option>
              <option value="equal-house"> Gleiche Häuser </option>
              <option value="regiomontanus"> Regiomontanus </option>
              <option value="topocentric"> Topozentrisch </option>
            </select>
          </div>
          <div class="grid-item" id="signsSystem">
            <label for="zodi" class="horo" style="display: inline;"> Tierkreis: </label>
            <div class="flex-radio">
              <div class="radio-item">
                <span class="horo sublabel bold"> TROPISCH </span>
                <input type="radio" name="Zodiac" id="Trop" class="horo" checked>
              </div>
              <div class="radio-item">
                <span class="horo sublabel bold"> SIDERISCH </span>
                <input type="radio" name="Zodiac" id="Side" class="horo">
              </div>
            </div>
          </div>
          <div class="grid-item">
            <label for="Aspects" class="horo inline"> Aktive Aspekte: </label>
            <select class="horo show-aspects">
              <option value="Anzeigen">Anzeigen</option>
            </select>
            <div class="horo hide">
              <span class="horo sublabel bold" id="opposition"> Opposition </span>
              <input type="checkbox" name="cheOpposition" class="horo-inpfield aspect-check" checked="true">
              <span class="horo sublabel bold" id="trine"> Trigon </span>
              <input type="checkbox" id="cheTrine" class="horo-inpfield aspect-check" checked="true">
              <span class="horo sublabel bold" id="square"> Quadrat </span>
              <input type="checkbox" id="cheSquare" class="horo-inpfield aspect-check" checked="true">
              <span class="horo sublabel bold" id="semi-square"> Semi-Quadrat </span>
              <input type="checkbox" id="cheSemiSquare" class="horo-inpfield aspect-check" checked="true">
              <span class="horo sublabel bold" id="conjunction"> Konjunktion </span>
              <input type="checkbox" id="cheConjunction" class="horo-inpfield aspect-check" checked="true">
              <span class="horo sublabel bold" id="sextile"> Sextil </span>
              <input type="checkbox" id="cheSextile" class="horo-inpfield aspect-check" checked="true">
              <span class="horo sublabel bold" id="semi-sextile"> Semi-Sextil </span>
              <input type="checkbox" id="cheSemiSextile" class="horo-inpfield aspect-check" checked="true">
              <span class="horo sublabel bold" id="quintile"> Quintil </span>
              <input type="checkbox" id="cheQuintile" class="horo-inpfield aspect-check" checked="true">
              <span class="horo sublabel bold" id="quincunx"> Quinkunx </span>
              <input type="checkbox" id="cheQuincunx" class="horo-inpfield aspect-check" checked="true">
              <span class="horo sublabel bold" id="septile"> Septil </span>
              <input type="checkbox" id="cheSeptile" class="horo-inpfield aspect-check" checked="true">
            </div>
          </div>

          <hr class="horo">

          <input class="horo" id="but" type="submit" value="Horoksop erstellen" />
        </div>
      </form>
    </div>
  </div>
</div>