<!DOCTYPE html>
<html lang="de">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
  <link rel="stylesheet" href="../css/plotStyles.css">
  <link rel="stylesheet" href="../css/formStyles.css">
  <link rel="stylesheet" href="../css/styles.css">

  <link rel="stylesheet" href="../public/css/jquery.datetimepicker.min.css" />
  <link rel="icon" href="favicon.ico?v=1">
  </link>


  <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
  <script src="../../assets/datetimepicker-master/jquery.js"></script>
  <script src="../../assets/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>

  <script src="https://unpkg.com/@geoapify/geocoder-autocomplete@^1/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <title> Horoskop </title>
</head>

<body class="horo">

  <h1 class="horo cntr fadeOutDiv"> Erstelle dein individuelles Geburtshoroskop </h1>

  <div class="input-container fadeOutDiv" id="popupForm">
    <%-include('form.ejs', {userData: user_data}) %>
  </div>

  <div class="horo" id="plot-container"></div>

  <%-include('description.ejs')%>

</body>


<script src="../assets/plotFunc.js"></script>
<script>
  const geoKey = "<%= geo_key %>";
  setDatetimepicker();
  setGeoapify(geoKey);
  const inputCity = "<%=user_data.city%>";
  const inputCountry = "<%=user_data.country%>";
  const getUri = "<%= get_uri %>";
  addEventlistener(getUri);

  document.addEventListener('DOMContentLoaded', function() {

    document.addEventListener('keydown', function(event) {
      if (event.key === 'Enter') {
        $('#but').click();
      }
    });
  });

  $('#che').click(function(event) {
    var isChecked = event.target.checked;

    if (isChecked) {
      savedHour = $('#hour').val();
      savedMinu = $('#minu').val();
      savedHouse = $('#House').val();
      $('#hour').val('12');
      $('#minu').val('00');
      $('#House').val('whole-sign');
    } else {
      $('#hour').val(savedHour);
      $('#minu').val(savedMinu);
      $('#House').val(savedHouse);
    }
  });
</script>

</html>